.profile-page {
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    position: relative;
    top: 60px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
  }
  
  .profile-avatar {
    position: relative;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #333;
  }
  
  .profile-completion {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid #ffc107;
    box-shadow: 0 0 10px #ffc107;
  }
  
  .profile-details {
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .profile-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .share-btn,
  .add-friend-btn,
  .follow-btn {
    background: linear-gradient(to right, #9333ea, #2563eb);
    color: #000;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .action-buttons {
    margin-top: 10px;
  }

  .tab:hover{
    color: #2563eb;
}
  
  .profile-stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 2px solid #333;
  }
  
  .stat p {
    font-size: 14px;
    color: #999;
  }
  
  .stat span {
    font-size: 18px;
    font-weight: bold;
    color: #2563eb;
  }
  
  .profile-tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .tab {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-size: 14px;
  }
  
  .tab.active {
    border-bottom: 2px solid #2563eb;
    color: #2563eb;
  }
  
  .profile-content {
    margin-top: 20px;
    text-align: center;
  }
  .content{
    display: none;
  }
  
  .profile-placeholder {
    width: 400px;
    height: 400px;
    border: 2px solid #333;
    border-radius: 10px;
  }
  