.slider-container {
  width: 100%;
  overflow: hidden;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.slider {
  display: flex;
  gap: 20px;
}

.tournaments {
  flex: 1;
  display: flex;
  align-items: center;
  width: 500px;
  background: linear-gradient(to right, #9333ea, #2563eb);
  color: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.tournaments:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
}

.tournaments img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.tournaments .card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tournaments .card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.tournaments .card-content p {
  margin: 8px 0;
  font-size: 0.9rem;
}

.tournaments .card-content strong {
  color: #ffd700;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.register-btn {
  align-self: flex-start;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.register-btn:hover {
  background: #fff;
  color: #000;
}

.explore-btn {
  margin: 0 auto;
  max-width:20% ;
  padding: 10px 20px;
  font-size: 1rem;
  border-image: linear-gradient(to right, #9333ea, #2563eb) 1;
  opacity: 0.85;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.explore-btn a{
  color: white;
}
.explore-btn:hover {
  opacity: 1;
  background-color: rgba(170, 170, 170, 0.18);
}

/* @keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

@media (max-width: 768px) {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .tournaments{
    width: 100%;
  }

  .card-content h3 {
    font-size: 1.2rem;
  }

  .card-content p {
    font-size: 0.8rem;
  }
}